<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Tutoriel VueJS 3 pour débutant</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{ product }}</h1>
      <div class="product-image">
        <!-- Votre image -->
        <img v-bind:src="image">
        <p v-if="inventory > 10">En stock</p>
        <p v-else-if="inventory <= 10 && inventory > 0">Presque en rupture!</p>
        <p v-else>En rupture</p>
        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>
        <div v-for="variant in variants" :key="variant.id">{{ variant.color }}</div>
      </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
